wheel
voila
earthengine-api
pre-commit

sepal_ui==2.21.0
rasterio<1.3.11 # Leave it here even if it's already in the sepal_ui requirements. Check https://github.com/openforis/sepal/issues/328

matplotlib
requests
git+https://github.com/12rambau/xarray_leaflet.git@single_band_mask#egg=xarray_leaflet
dask[complete]

# Don't remove, this is needed for the xarray_leaflet, otherwise we'll end with <7.8.0
ipywidgets>=8.1.1