wheel
voila
earthengine-api
pre-commit

# Fixes authentication process
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

matplotlib
requests
git+https://github.com/12rambau/xarray_leaflet.git@single_band_mask#egg=xarray_leaflet
dask[complete]

# Don't remove, this is needed for the xarray_leaflet, otherwise we'll end with <7.8.0
ipywidgets>=8.1.1